.circleComplete {
    width: 100px;
    height: 100px;
    background-color:green;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.circle{
    width: 100px;
    height: 100px;
    background-color:gainsboro;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}