<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理</title>
</head>
<body>
<div class="col-lg-10 col-lg-offset-1" style="margin-top: 30px;" ng-controller="adminControlCtrl">
    <button ng-click="goto('assignAccount')" class="btn btn-primary col-lg-offset-1 col-lg-2" style="font-size: 12px">修改队伍信息</button>
    <button ng-click="goto('assignId')" class="btn btn-primary col-lg-offset-2 col-lg-2" style="font-size: 12px">修改运动员号码</button>
    <button ng-click="goto('assignCompetition')" class="btn btn-primary col-lg-offset-3 col-lg-2" style="font-size: 12px">修改比赛信息</button>
    <button ng-click="goto('assignGrade')" class="btn btn-primary col-lg-offset-1 col-lg-2" style="font-size: 12px;top: 10px;">修改裁判赛事表</button>
    <button ng-click="goto('assignAC')" class="btn btn-primary col-lg-offset-2 col-lg-2" style="font-size: 12px;top: 10px;">修改运动员赛事表</button>
    <button ng-click="goto('auto')" class="btn btn-primary col-lg-offset-3 col-lg-2" style="font-size: 12px;top: 10px;">自动计算所有比赛排名</button>

</body>
</html>