<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分配队伍账号</title>
</head>
<body>
<div ng-controller="assignAccountCtrl">
    <div class="content">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-10 col-lg-offset-1 panel panel-default" ng-repeat="team in teams">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div style="font-size: 12px" class="form-group row">
                        <label  class="control-label" style="float:left;width:65px;text-align: right;margin-top: 5px;">队伍名:</label>
                        <div class="col-lg-11">
                            <input  class="form-control" type="text" placeholder="请输入队伍名" ng-model="team.name" style="" >
                        </div>
                    </div>
                    <div style="font-size: 12px" class="form-group row">
                        <label  class="control-label" style="float:left;width:65px;text-align: right;margin-top: 5px;">队伍账号:</label>
                        <div class="col-lg-11">
                            <input  class="form-control" type="text" placeholder="请输入队伍账号" ng-model="team.account" style="" >
                        </div>
                    </div>
                </div>
            </div>
            <button ng-click="addTeam()" class="btn btn-primary col-lg-offset-1 col-lg-2">增加一个队伍</button>
            <button ng-click="insertTeams()" class="btn btn-primary col-lg-offset-9 col-lg-2">更新队伍信息</button>
        </div>
    </div>


</div>

</body>
</html>