<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
</head>
<body>
<div ng-controller="logInCtrl">
    <div class="content">
        <div class="col-lg-10 col-lg-offset-1" ng-show="!suFlag">
            <label><input name="status" type="radio" value="管理员" ng-click="select('管理员')" checked/>管理员 </label>
            <label><input name="status" type="radio" value="领队" ng-click="select('领队')"/>领队 </label>
            <label><input name="status" type="radio" value="裁判" ng-click="select('裁判')"/>裁判 </label>
            <div style="font-size: 12px" class="form-group row">
                <label  class="control-label" style="float:left;width:65px;text-align: right;margin-top: 5px;">用户:</label>
                <div class="col-lg-11">
                    <input  class="form-control" type="text" placeholder="请输入账号" ng-model="account" style="" >
                </div>
            </div>
            <div style="font-size: 12px" class="form-group row">
                <label  class="control-label" style="float:left;width:65px;text-align: right;margin-top: 5px;">密码:</label>
                <div class="col-lg-11">
                    <input  class="form-control" type="text" placeholder="请输入密码" ng-model="passWords" style="" >
                </div>
            </div>
            <button ng-click="logIn()" class="btn btn-primary col-lg-offset-9 col-lg-2">登陆</button>
        </div>
        <div class="col-lg-10 col-lg-offset-1" ng-show="suFlag">
            <button ng-click="goto('assignAccount')" class="btn btn-primary col-lg-offset-1 col-lg-2" style="font-size: 12px">修改队伍信息</button>
            <button ng-click="goto('assignId')" class="btn btn-primary col-lg-offset-2 col-lg-2" style="font-size: 12px">修改运动员号码</button>
            <button ng-click="goto('assignCompetition')" class="btn btn-primary col-lg-offset-3 col-lg-2" style="font-size: 12px">修改比赛信息</button>
            <button ng-click="goto('assignGrade')" class="btn btn-primary col-lg-offset-1 col-lg-2" style="font-size: 12px;top: 10px;">修改裁判赛事表</button>
        </div>
    </div>


</div>
</body>
</html>